img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.text-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.demo-card-header-pic {
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
}

.demo-card-header-pic:hover {
    transform: translateY(10px);
}

.page-content {
    background-color: mintcream;
}